:where(.wp-block-button__link) {
    border-radius: 9999px;
    box-shadow: none;
    padding: calc(.667em + 2px) calc(1.333em + 2px);
    text-decoration: none
}

:where(.wp-block-columns) {
    margin-bottom: 1.75em
}

:where(.wp-block-columns.has-background) {
    padding: 1.25em 2.375em
}

:where(.wp-block-post-comments input[type=submit]) {
    border: none
}

:where(.wp-block-cover-image:not(.has-text-color)),:where(.wp-block-cover:not(.has-text-color)) {
    color: #fff
}

:where(.wp-block-cover-image.is-light:not(.has-text-color)),:where(.wp-block-cover.is-light:not(.has-text-color)) {
    color: #000
}

:where(.wp-block-file) {
    margin-bottom: 1.5em
}

:where(.wp-block-file__button) {
    border-radius: 2em;
    display: inline-block;
    padding: .5em 1em
}

:where(.wp-block-file__button):is(a):active,:where(.wp-block-file__button):is(a):focus,:where(.wp-block-file__button):is(a):hover,:where(.wp-block-file__button):is(a):visited {
    box-shadow: none;
    color: #fff;
    opacity: .85;
    text-decoration: none
}

@keyframes turn-on-visibility {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes turn-off-visibility {
    0% {
        opacity: 1;
        visibility: visible
    }

    99% {
        opacity: 0;
        visibility: visible
    }

    to {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes lightbox-zoom-in {
    0% {
        transform: translate(calc(( -100vw + var(--wp--lightbox-scrollbar-width) ) / 2 + var(--wp--lightbox-initial-left-position)),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale))
    }

    to {
        transform: translate(-50%,-50%) scale(1)
    }
}

@keyframes lightbox-zoom-out {
    0% {
        transform: translate(-50%,-50%) scale(1);
        visibility: visible
    }

    99% {
        visibility: visible
    }

    to {
        transform: translate(calc(( -100vw + var(--wp--lightbox-scrollbar-width) ) / 2 + var(--wp--lightbox-initial-left-position)),calc(-50vh + var(--wp--lightbox-initial-top-position))) scale(var(--wp--lightbox-scale));
        visibility: hidden
    }
}

:where(.wp-block-latest-comments:not([data-amp-original-style*=line-height] .wp-block-latest-comments__comment)) {
    line-height: 1.1
}

:where(.wp-block-latest-comments:not([data-amp-original-style*=line-height] .wp-block-latest-comments__comment-excerpt p)) {
    line-height: 1.8
}



:where(.wp-block-navigation.has-background .wp-block-navigation-item a:not(.wp-element-button)),:where(.wp-block-navigation.has-background .wp-block-navigation-submenu a:not(.wp-element-button)) {
    padding: .5em 1em
}

:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item a:not(.wp-element-button)),:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu a:not(.wp-element-button)),:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-submenu button.wp-block-navigation-item__content),:where(.wp-block-navigation .wp-block-navigation__submenu-container .wp-block-pages-list__item button.wp-block-navigation-item__content) {
    padding: .5em 1em
}

@keyframes overlay-menu__fade-in-animation {
    0% {
        opacity: 0;
        transform: translateY(.5em)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

:where(p.has-text-color:not(.has-link-color)) a {
    color: inherit
}

:where(.wp-block-post-excerpt) {
    margin-bottom: var(--wp--style--block-gap);
    margin-top: var(--wp--style--block-gap)
}

:where(.wp-block-preformatted.has-background) {
    padding: 1.25em 2.375em
}

@media screen and (min-width: 767px) {
  /* First design, remove if you choose the minimalist design */
  .manisbest-intheworld::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }

  /* Minimalist design */
 .manisbest-intheworld::before{
      bottom: -.75rem;
      background-color: aqua;
  } 
}

/* Minimalist design, active link */
.manisbest-intheworld::before{
    content: '';
    position: absolute;
    bottom: -.5rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  } 


:where(.wp-block-pullquote) {
    margin: 0 0 1em
}

:where(.wp-block-search__button) {
    border: 1px solid #ccc;
    padding: 6px 10px
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) {
    border: 1px solid #949494;
    box-sizing: border-box;
    padding: 4px
}

:where(.wp-block-search__button-inside .wp-block-search__inside-wrapper) :where(.wp-block-search__button) {
    padding: 4px 8px
}

:where(.wp-block-term-description) {
    margin-bottom: var(--wp--style--block-gap);
    margin-top: var(--wp--style--block-gap)
}

:where(pre.wp-block-verse) {
    font-family: inherit
}

:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px
}

html :where(.has-border-color) {
    border-style: solid
}

html :where([data-amp-original-style*=border-top-color]) {
    border-top-style: solid
}

html :where([data-amp-original-style*=border-right-color]) {
    border-right-style: solid
}

html :where([data-amp-original-style*=border-bottom-color]) {
    border-bottom-style: solid
}

html :where([data-amp-original-style*=border-left-color]) {
    border-left-style: solid
}

html :where([data-amp-original-style*=border-width]) {
    border-style: solid
}

html :where([data-amp-original-style*=border-top-width]) {
    border-top-style: solid
}

html :where([data-amp-original-style*=border-right-width]) {
    border-right-style: solid
}

html :where([data-amp-original-style*=border-bottom-width]) {
    border-bottom-style: solid
}

html :where([data-amp-original-style*=border-left-width]) {
    border-left-style: solid
}

html :where(img[class*=wp-image-]) {
    height: auto;
    max-width: 100%
}

:where(figure) {
    margin: 0 0 1em
}

html :where(.is-position-sticky) {
    --wp-admin--admin-bar--position-offset: var(--wp-admin--admin-bar--height,0px)
}

@media screen and (max-width: 600px) {
    html :where(.is-position-sticky) {
        --wp-admin--admin-bar--position-offset:0px
    }
}

*,:after,:before {
    box-sizing: border-box
}

* {
    margin: 0
}

:focus {
    outline: 2px auto #2079c3
}

:focus:not(:focus-visible) {
    outline: none
}

:target:before {
    content: "";
    display: block;
    height: calc(var(--nav-offset-height) * 1px);
    margin-top: calc(var(--nav-offset-height) * -1 * 1px)
}

html {
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: #162020;
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    cursor: default
}

html.legacy-type-scale {
    font-size: 14px
}

@media screen and (min-width: 320px) {
    html.legacy-type-scale {
        font-size:calc(12.54545px + .45455vw)
    }
}

@media screen and (min-width: 1200px) {
    html.legacy-type-scale {
        font-size:18px
    }
}

body {
    background: #fff;
    margin: 0
}

html.legacy-type-scale body,html:not(.legacy-type-scale) body {
    line-height: 1.5
}

html.legacy-type-scale html.legacy-type-scale body,html.legacy-type-scale html:not(.legacy-type-scale) body,html:not(.legacy-type-scale) html.legacy-type-scale body,html:not(.legacy-type-scale) html:not(.legacy-type-scale) body {
    font-size: 1rem;
    line-height: 1.4814814815
}

footer,header,main,nav,section {
    display: block
}

main {
    overflow: hidden
}

[hidden] {
    display: none
}

a {
    background-color: transparent;
    color: #205bc3;
    text-decoration: none
}

a:active,a:hover {
    outline-style: none;
    outline-width: 0;
    text-decoration: underline
}

img {
    border: 0;
    height: auto;
    max-width: 100%
}

button,input {
    color: inherit;
    font: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    appearance: button;
    cursor: pointer
}

button[disabled],html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox],input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    appearance: textfield
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none
}

fieldset {
    border: 1px solid #c8cccc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 1.5rem
}

legend {
    border: 0;
    padding: 0
}

iframe:not([title="Optimizely Internal Frame"])+*,p+*{
    margin-top: 1.7777777778rem
}


.button {
    font-weight: 700
}

.button {
    background-color: #FF6666;
    border: .1111111111rem solid transparent;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font-size: .8888888889rem;
    line-height: 1;
    margin-left: 0;
    margin-right: 0;
    min-width: 8.3333333333rem;
    padding: .8333333333rem 1.9444444444rem;
    text-align: center;
    text-shadow: none;
    transition: all .2s cubic-bezier(.4,0,.7,.2);
    vertical-align: middle
}

.button:hover {
    background-color: #067c7c;
    border-color: transparent;
    color: #fff
}

.button:active,.button:hover,.button:link,.button:visited {
    cursor: pointer;
    text-decoration: none
}

.button:active {
    transform: translateY(.0555555556rem)
}

@keyframes spin {
    0% {
        transform: translate(-50%,-50%) rotate(0deg)
    }

    to {
        transform: translate(-50%,-50%) rotate(360deg)
    }
}

.button:disabled {
    cursor: default
}

.button:disabled,.button:disabled:hover {
    background-color: #929a9b;
    border-color: transparent;
    color: #fff
}

fieldset {
    border: none;
    margin: .8888888889rem 0 0;
    padding: 0
}

fieldset label+label,fieldset legend+label {
    margin-top: .2222222222rem
}

label,legend {
    color: inherit;
    cursor: pointer;
    display: block;
    position: relative
}

label+label,legend+label {
    margin-top: .8888888889rem
}

legend>span {
    display: inline-block;
    font-style: normal
}

html.legacy-type-scale legend>span,html:not(.legacy-type-scale) legend>span {
    font-size: .7222222222rem;
    line-height: 1.641025641
}

label>span,legend>span {
    display: block;
    font-weight: 700;
    padding-bottom: .2222222222rem;
    padding-top: .2222222222rem;
    text-align: left
}

html.legacy-type-scale label>span,html.legacy-type-scale legend>span,html:not(.legacy-type-scale) label>span,html:not(.legacy-type-scale) legend>span {
    font-size: .8888888889rem;
    line-height: 1.5
}

input {
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #c8cccc;
    border-radius: 4px;
    color: #162020;
    font-weight: 400;
    line-height: 1;
    outline: 0;
    padding: .4444444444rem;
    position: relative;
    width: 100%
}

html.legacy-type-scale input,html:not(.legacy-type-scale) input {
    font-size: .8888888889rem;
    line-height: 1.5
}

input:focus,input:hover {
    border-color: #116daa
}

input:focus {
    box-shadow: 0 0 0 1px #116daa
}

.Form-radio {
    background: #fff;
    border: 1px solid #c8cccc;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 auto;
    height: .8888888889rem;
    margin: .2222222222rem .8888888889rem .2222222222rem .2222222222rem;
    vertical-align: middle;
    width: .8888888889rem
}

.Form-radio+span {
    font-weight: 400;
    padding: 0
}

input[type=checkbox],input[type=radio] {
    height: .8888888889rem;
    margin: .2222222222rem;
    opacity: 0;
    position: absolute;
    width: .8888888889rem
}

input:checked+.Form-radio {
    background: url("https://media.sproutsocial.com/uploads/radio.svg") no-repeat 50% #116daa;
    border: 1px solid #0c5689
}

input:focus+.Form-radio,label:hover input+.Form-radio,label:hover input:checked+.Form-radio {
    border: 1px solid #0c5689;
    box-shadow: 0 0 0 1px
}

@keyframes validshow {
    0% {
        opacity: 0
    }
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

[data-a11y-dialog][aria-hidden=true] {
    display: none
}

h1 {
    color: #162020;
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700
}

html:not(.legacy-type-scale) h1 {
    font-size: 3.1666666667rem;
    line-height: 1.1228070175
}

html.legacy-type-scale h1 {
    font-size: 2.3888888889rem;
    line-height: 1.1782945736
}

@media screen and (min-width: 479px) {
    html.legacy-type-scale h1 {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }
}

h1+* {
    margin-top: 1.7777777778rem
}

h2 {
    color: #162020;
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700
}

html:not(.legacy-type-scale) h2 {
    font-size: 2.3888888889rem;
    line-height: 1.1782945736
}

html.legacy-type-scale h2 {
    font-size: 1.7777777778rem;
    font-size: 2.3888888889rem;
    line-height: 1.25
}

@media screen and (min-width: 479px) {
    html.legacy-type-scale h2 {
        font-size:2.3888888889rem;
        line-height: 1.1782945736
    }
}

h2+* {
    margin-top: 1.7777777778rem
}

h3 {
    color: #162020;
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700
}

html.legacy-type-scale h3,html:not(.legacy-type-scale) h3 {
    font-size: 1.1666666667rem;
    line-height: 1.3968253968
}

h3+* {
    margin-top: .4444444444rem
}

h4 {
    color: #162020;
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-weight: 700
}

html.legacy-type-scale h4,html:not(.legacy-type-scale) h4 {
    font-size: 1rem;
    line-height: 1.4814814815
}

h4+* {
    margin-top: .4444444444rem
}

@keyframes rotator {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(270deg)
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 180
    }

    50% {
        transform: rotate(135deg);
        stroke-dashoffset: 45
    }

    to {
        transform: rotate(450deg);
        stroke-dashoffset: 180
    }
}

[type=range] {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px;
    margin: 15px 0;
    outline: 0;
    width: 100%
}

[type=range]:focus {
    box-shadow: 0 0 0 .1111111111rem #fff,0 0 0 .2222222222rem #FF6666
}

[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: #FF6666;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(60, 14, 64,.16),0 3px 6px rgba(60, 14, 64,.23);
    cursor: pointer;
    height: 30px;
    margin-top: -10px;
    outline: 0;
    position: relative;
    width: 30px;
    z-index: 2
}

[type=range]::-moz-range-thumb {
    background: #FF6666;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(60, 14, 64,.16),0 3px 6px rgba(60, 14, 64,.23);
    cursor: pointer;
    height: 30px;
    outline: 0;
    position: relative;
    width: 30px;
    z-index: 2
}

[type=range]::-ms-thumb {
    background: #FF6666;
    border-radius: 50%;
    box-shadow: 0 0 6px rgba(60, 14, 64,.16),0 3px 6px rgba(60, 14, 64,.23 rgba(60, 14, 64, 0.549));
    cursor: pointer;
    height: 30px;
    margin-top: 0;
    outline: 0;
    position: relative;
    width: 30px;
    z-index: 2
}

[type=range]::-webkit-slider-runnable-track {
    background: linear-gradient(90deg,#FF66668c,#7e1f868c,#ff66668e,#fc878780);
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    outline: 0;
    width: 100%
}

[type=range]::-moz-range-track {
    background: #929a9b;
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    outline: 0;
    width: 100%
}

[type=range]::-ms-fill-upper,[type=range]::-ms-track {
    background: #929a9b;
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    outline: 0;
    width: 100%
}

[type=range]::-moz-range-progress {
    background: linear-gradient(90deg,#FF66668c,#7e1f868c,#ff66668e,#fc878780);
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    outline: 0;
    width: 100%
}

[type=range]::-ms-fill-lower {
    background: linear-gradient(90deg,#FF66668c,#7e1f868c,#ff66668e,#fc878780)
}

@keyframes Searchbar-validshow {
    0% {
        opacity: 0
    }
}

.section {
    background: #fff;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 4.4444444444rem;
    padding-top: 4.4444444444rem
}

@media screen and (max-width: 480px) {
    .section {
        padding-bottom:2.2222222222rem;
        padding-top: 2.2222222222rem
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden
    }
}

@keyframes slideFromLeft {
    0% {
        transform: translate3d(-100%,0,0)
    }
}

@keyframes slideFromRight {
    0% {
        transform: translate3d(100%,0,0)
    }
}

@keyframes slideToLeft {
    99% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(-100%,0,0)
    }
}

@keyframes slideToRight {
    99% {
        opacity: 1
    }

    to {
        opacity: 0;
        transform: translate3d(100%,0,0)
    }
}

[class*=amphtml-sidebar-mask] {
    z-index: 1
}

*,:after,:before {
    box-sizing: border-box
}

* {
    margin: 0
}

html {
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 18px
}

body {
    font-size: pxToRem(18px);
    line-height: 1.5;
    margin: 0
}

.button-reset {
    background: none;
    border: 0
}

.button-reset {
    -webkit-appearance: none;
    appearance: none
}

.button-reset::-moz-focus-inner {
    border: 0;
    padding: 0
}

.screenreader {
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    border: 0
}

.interaction--hover {
    transition: all .2s cubic-bezier(.4,0,.7,.2)
}

@keyframes bounce {
    0% {
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: translate(0)
    }

    8% {
        animation-timing-function: cubic-bezier(.4,0,.7,.2);
        transform: translateY(-.4444444444rem)
    }

    16% {
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: translate(0)
    }

    32% {
        animation-timing-function: cubic-bezier(.4,0,.7,.2);
        transform: translateY(-.4444444444rem)
    }

    42% {
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: translate(0)
    }

    to {
        animation-timing-function: cubic-bezier(0,0,.2,1);
        transform: translate(0)
    }
}

@keyframes separateUp {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(-.8888888889rem,-.8888888889rem)
    }
}

@keyframes separateDown {
    0% {
        transform: translate(0)
    }

    to {
        transform: translate(.4444444444rem,.4444444444rem)
    }
}

.aspect-ratio-video {
    aspect-ratio: 16/9
}

.bg--teal-900 {
    background-color: #FF6666
}

.bg--teal-1000 {
    background-color: #083f3f
}

.bg--blue-1100 {
    background-color: #002138
}

.bg--neutral-0 {
    background-color: #fff
}

.bg--neutral-100 {
    background-color: #f3f4f4
}

.bg--neutral-1000 {
    background-color: #162020
}

.bg--neutral-1100 {
    background-color: #040404
}

.hover-bg--teal-800:hover {
    background-color: #067c7c
}

.hover-bg--neutral-100:hover {
    background-color: #f3f4f4
}

.hover-bg--neutral-900:hover {
    background-color: #273333
}

.bg-none {
    background: none
}

.bg-transparent,.hover-bg-transparent:hover {
    background-color: transparent
}

.bg--light-translucent {
    background-color: hsla(0,0%,100%,.6)
}

.hover-bg--newblue-900:hover {
    background-color: #0c3f89
}

.bg--newblue-1000 {
    background-color: #0a2960
}

@media screen and (min-width: 480px) {
    .hover-bg--neutral-900-ns:hover {
        background-color:#273333
    }
}

@media screen and (min-width: 1025px) {
    .bg--teal-1000-l {
        background-color:#083f3f
    }

    .bg--neutral-0-l {
        background-color: #fff
    }

    .bg--neutral-100-l {
        background-color: #f3f4f4
    }

    .hover-bg--neutral-0-l:hover {
        background-color: #fff
    }

    .hover-bg--neutral-100-l:hover {
        background-color: #f3f4f4
    }
}

.ba {
    border-style: solid;
    border-width: 1px
}

.bn {
    border-style: none;
    border-width: 0
}

.bt {
    border-top-style: solid;
    border-top-width: 1px
}

.br {
    border-right-style: solid;
    border-right-width: 1px
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px
}

.bl {
    border-left-style: solid;
    border-left-width: 1px
}

@media screen and (min-width: 480px) {
    .ba-ns {
        border-style:solid;
        border-width: 1px
    }
}

@media screen and (min-width: 1025px) {
    .bn-l {
        border-style:none;
        border-width: 0
    }

    .bt-l {
        border-top-style: solid;
        border-top-width: 1px
    }
}

.b--teal-900 {
    border-color: #FF6666
}

.b--teal-1000 {
    border-color: #083f3f
}

.b--neutral-0 {
    border-color: #fff
}

.b--neutral-200 {
    border-color: #dee1e1
}

.b--neutral-300 {
    border-color: #c8cccc
}

.b--neutral-800 {
    border-color: #364141
}

.hover-b--teal-800:hover {
    border-color: #067c7c
}

.hover-b--neutral-0:hover {
    border-color: #fff
}

@media screen and (min-width: 480px) {
    .b--neutral-1100-ns {
        border-color:#040404
    }
}

@media screen and (min-width: 1025px) {
    .b--neutral-100-l {
        border-color:#f3f4f4
    }
}

.br500 {
    border-radius: 6px
}

.br600 {
    border-radius: 8px
}

.br800 {
    border-radius: 16px
}

@media screen and (min-width: 1025px) {
    .br0-l {
        border-radius:0
    }

    .br500-l {
        border-radius: 6px
    }

    .br800-l {
        border-radius: 16px
    }
}

.br--top {
    border-bottom-right-radius: 0
}

.br--top {
    border-bottom-left-radius: 0
}

.br--bottom {
    border-top-left-radius: 0
}

.br--bottom {
    border-top-right-radius: 0
}

.bw600 {
    border-width: 2px
}

.hover-c--twitter:hover {
    color: #1da1f2
}

.hover-c--facebook:hover {
    color: #217bee
}

.hover-c--linkedin:hover {
    color: #0a66c2
}

.hover-c--instagram:hover {
    color: #e4405f
}

.hover-c--youtube:hover {
    color: red
}

.c--teal-900 {
    color: #FF6666
}

.c--teal-1000 {
    color: #083f3f
}

.c--neutral-0 {
    color: #fff
}

.c--neutral-200 {
    color: #dee1e1
}

.c--neutral-600 {
    color: #6e797a
}

.c--neutral-700 {
    color: #515e5f
}

.c--neutral-1100 {
    color: #040404
}

.hover-c--teal-900:hover {
    color: #FF6666
}

.hover-c--neutral-0:hover {
    color: #fff
}

.c--text {
    color: #162020
}

.c--text-inverse {
    color: #fff
}

.c--link {
    color: #205bc3
}

.c--link-white {
    color: #fff
}

.c--primary {
    color: #FF6666
}

.hover-c--primary:hover {
    color: #FF6666
}

.c--newblue-1000 {
    color: #0a2960
}

.top0 {
    top: 0
}

.top300 {
    top: .4444444444rem
}

.right0 {
    right: 0
}

.right300 {
    right: .4444444444rem
}

.bottom0 {
    bottom: 0
}

.left0 {
    left: 0
}

.dn {
    display: none
}

.db {
    display: block
}

.dib {
    display: inline-block
}

.flex {
    display: flex
}

.inline-flex {
    display: inline-flex
}

.dg {
    display: grid
}

@media screen and (min-width: 480px) {
    .dn-ns {
        display:none
    }

    .db-ns {
        display: block
    }

    .flex-ns {
        display: flex
    }

    .dg-ns {
        display: grid
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    .dn-m {
        display:none
    }

    .db-m {
        display: block
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .dn-xm {
        display:none
    }

    .db-xm {
        display: block
    }
}

@media screen and (min-width: 1025px) {
    .dn-l {
        display:none
    }

    .db-l {
        display: block
    }

    .dib-l {
        display: inline-block
    }

    .flex-l {
        display: flex
    }

    .dg-l {
        display: grid
    }
}

.elevation300 {
    box-shadow: 0 8px 16px rgba(39,51,51,.24)
}

@supports (filter: none) {
    .filter-invert {
        filter:invert(1)
    }
}

.flex-auto {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0
}

.flex-column {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-nowrap {
    flex-wrap: nowrap
}

.flex-column-reverse {
    flex-direction: column-reverse
}

.items-start {
    align-items: flex-start
}

.items-center {
    align-items: center
}

.items-baseline {
    align-items: baseline
}

.self-start {
    align-self: flex-start
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

@media screen and (min-width: 480px) {
    .flex-row-ns {
        flex-direction:row
    }

    .items-center-ns {
        align-items: center
    }

    .justify-between-ns {
        justify-content: space-between
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    .flex-row-m {
        flex-direction:row
    }

    .items-center-m {
        align-items: center
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .flex-row-xm {
        flex-direction:row
    }
}

@media screen and (min-width: 1025px) {
    .flex-column-l {
        flex-direction:column
    }

    .flex-row-l {
        flex-direction: row
    }

    .flex-wrap-l {
        flex-wrap: wrap
    }

    .flex-nowrap-l {
        flex-wrap: nowrap
    }

    .items-start-l {
        align-items: flex-start
    }

    .items-center-l {
        align-items: center
    }

    .justify-between-l {
        justify-content: space-between
    }
}

.shrink-0 {
    flex-shrink: 0
}

.ff-proxima-nova {
    font-family: Proxima Nova,proxima-nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

.ff-roboto {
    font-family: "Roboto Serif",serif,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

.fw-extrabold {
    font-weight: 800
}

.fw-bold {
    font-weight: 700
}

.fw-normal {
    font-weight: 400
}

.gap350 {
    gap: .6666666667rem
}

.gap400 {
    gap: .8888888889rem
}

.gap450 {
    gap: 1.3333333333rem
}

.gap-column625 {
    column-gap: 2.6666666667rem
}

@media screen and (min-width: 480px) {
    .gap425-ns {
        gap:1.1111111111rem
    }

    .gap450-ns {
        gap: 1.3333333333rem
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    .gap500-m {
        gap:1.7777777778rem
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .gap500-xm {
        gap:1.7777777778rem
    }
}

@media screen and (min-width: 1025px) {
    .gap0-l {
        gap:0
    }

    .gap400-l {
        gap: .8888888889rem
    }

    .gap450-l {
        gap: 1.3333333333rem
    }

    .gap500-l {
        gap: 1.7777777778rem
    }
}

@media screen and (min-width: 1025px) {
    .col-span-2-l {
        grid-column:span 2/span 2
    }

    .col-span-6-l {
        grid-column: span 6/span 6
    }
}

@media screen and (min-width: 480px) {
    .grid-template-columns-3-ns {
        grid-template-columns:repeat(3,minmax(0,1fr))
    }
}

@media screen and (min-width: 1025px) {
    .grid-template-columns-2-l {
        grid-template-columns:repeat(2,minmax(0,1fr))
    }

    .grid-template-columns-4-l {
        grid-template-columns: repeat(4,minmax(0,1fr))
    }

    .grid-template-columns-12-l {
        grid-template-columns: repeat(12,minmax(0,1fr))
    }
}

.h450 {
    height: 1.3333333333rem
}

.h-100p {
    height: 100%
}

.h-100vh {
    height: 100vh
}

.h-auto {
    height: auto
}

@media screen and (min-width: 1025px) {
    .min-h850-l {
        min-height:8.8888888889rem
    }

    .h-100p-l {
        height: 100%
    }

    .h-auto-l {
        height: auto
    }
}

.pointer:hover {
    cursor: pointer
}

.list {
    list-style-type: none
}

.fit-cover,.fit-cover img {
    object-fit: cover
}

.overflow-visible {
    overflow: visible
}

.overflow-hidden {
    overflow: hidden
}

.overflow-auto {
    overflow: auto
}

.overflow-x-hidden {
    overflow-x: hidden
}

.overflow-y-auto {
    overflow-y: auto
}

@media screen and (min-width: 1025px) {
    .overflow-visible-l {
        overflow:visible
    }
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

@media screen and (min-width: 1025px) {
    .relative-l {
        position:relative
    }

    .absolute-l {
        position: absolute
    }
}

.rotate-180 {
    transform: rotate(180deg)
}

.shadow200 {
    box-shadow: 0 0 6px rgba(60, 14, 64,.16),0 3px 6px rgba(60, 14, 64,.23)
}

.ma0 {
    margin: 0
}

.pa0 {
    padding: 0
}

.pa350 {
    padding: .6666666667rem
}

.pa400 {
    padding: .8888888889rem
}

.pa450 {
    padding: 1.3333333333rem
}

.pa500 {
    padding: 1.7777777778rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mx400 {
    margin-left: .8888888889rem;
    margin-right: .8888888889rem
}

.px0 {
    padding-left: 0;
    padding-right: 0
}

.px200 {
    padding-left: .2222222222rem;
    padding-right: .2222222222rem
}

.px300 {
    padding-left: .4444444444rem;
    padding-right: .4444444444rem
}

.px350 {
    padding-left: .6666666667rem;
    padding-right: .6666666667rem
}

.px400 {
    padding-left: .8888888889rem;
    padding-right: .8888888889rem
}

.px450 {
    padding-left: 1.3333333333rem;
    padding-right: 1.3333333333rem
}

.px500 {
    padding-left: 1.7777777778rem;
    padding-right: 1.7777777778rem
}

.px600 {
    padding-left: 2.2222222222rem;
    padding-right: 2.2222222222rem
}

.my400 {
    margin-bottom: .8888888889rem;
    margin-top: .8888888889rem
}

.my500 {
    margin-bottom: 1.7777777778rem;
    margin-top: 1.7777777778rem
}

.py200 {
    padding-bottom: .2222222222rem;
    padding-top: .2222222222rem
}

.py300 {
    padding-bottom: .4444444444rem;
    padding-top: .4444444444rem
}

.py350 {
    padding-bottom: .6666666667rem;
    padding-top: .6666666667rem
}

.py400 {
    padding-bottom: .8888888889rem;
    padding-top: .8888888889rem
}

.py500 {
    padding-bottom: 1.7777777778rem;
    padding-top: 1.7777777778rem
}

.py600 {
    padding-bottom: 2.2222222222rem;
    padding-top: 2.2222222222rem
}

.mt-auto {
    margin-top: auto
}

.mt0 {
    margin-top: 0
}

.mt200 {
    margin-top: .2222222222rem
}

.mt300 {
    margin-top: .4444444444rem
}

.mt400 {
    margin-top: .8888888889rem
}

.mt450 {
    margin-top: 1.3333333333rem
}

.mt500 {
    margin-top: 1.7777777778rem
}

.mt600 {
    margin-top: 2.2222222222rem
}

.mt675 {
    margin-top: 3.5555555556rem
}

.pt0 {
    padding-top: 0
}

.pt300 {
    padding-top: .4444444444rem
}

.pt400 {
    padding-top: .8888888889rem
}

.pt450 {
    padding-top: 1.3333333333rem
}

.pt500 {
    padding-top: 1.7777777778rem
}

.pt600 {
    padding-top: 2.2222222222rem
}

.mr300 {
    margin-right: .4444444444rem
}

.mr400 {
    margin-right: .8888888889rem
}

.mr600 {
    margin-right: 2.2222222222rem
}

.pr300 {
    padding-right: .4444444444rem
}

.mb0 {
    margin-bottom: 0
}

.mb400 {
    margin-bottom: .8888888889rem
}

.mb450 {
    margin-bottom: 1.3333333333rem
}

.mb500 {
    margin-bottom: 1.7777777778rem
}

.mb600 {
    margin-bottom: 2.2222222222rem
}

.pb0 {
    padding-bottom: 0
}

.pb250 {
    padding-bottom: .3333333333rem
}

.pb300 {
    padding-bottom: .4444444444rem
}

.pb400 {
    padding-bottom: .8888888889rem
}

.pb450 {
    padding-bottom: 1.3333333333rem
}

.pb500 {
    padding-bottom: 1.7777777778rem
}

.pb600 {
    padding-bottom: 2.2222222222rem
}

.pb700 {
    padding-bottom: 4.4444444444rem
}

.ml-auto {
    margin-left: auto
}

.ml0 {
    margin-left: 0
}

.ml200 {
    margin-left: .2222222222rem
}

.ml300 {
    margin-left: .4444444444rem
}

.ml400 {
    margin-left: .8888888889rem
}

.ml450 {
    margin-left: 1.3333333333rem
}

.pl0 {
    padding-left: 0
}

.pl200 {
    padding-left: .2222222222rem
}

.pl300 {
    padding-left: .4444444444rem
}

.pl350 {
    padding-left: .6666666667rem
}

@media screen and (min-width: 480px) {
    .mx0-ns {
        margin-left:0;
        margin-right: 0
    }

    .px0-ns {
        padding-left: 0;
        padding-right: 0
    }

    .px350-ns {
        padding-left: .6666666667rem;
        padding-right: .6666666667rem
    }

    .px450-ns {
        padding-left: 1.3333333333rem;
        padding-right: 1.3333333333rem
    }

    .px500-ns {
        padding-left: 1.7777777778rem;
        padding-right: 1.7777777778rem
    }

    .py100-ns {
        padding-bottom: .1111111111rem;
        padding-top: .1111111111rem
    }

    .py500-ns {
        padding-bottom: 1.7777777778rem;
        padding-top: 1.7777777778rem
    }

    .mt0-ns {
        margin-top: 0
    }

    .mt600-ns {
        margin-top: 2.2222222222rem
    }

    .mt625-ns {
        margin-top: 2.6666666667rem
    }

    .pt500-ns {
        padding-top: 1.7777777778rem
    }

    .pt600-ns {
        padding-top: 2.2222222222rem
    }

    .pt700-ns {
        padding-top: 4.4444444444rem
    }

    .mr0-ns {
        margin-right: 0
    }

    .pr0-ns {
        padding-right: 0
    }

    .pr450-ns {
        padding-right: 1.3333333333rem
    }

    .pb400-ns {
        padding-bottom: .8888888889rem
    }

    .pb500-ns {
        padding-bottom: 1.7777777778rem
    }

    .ml0-ns {
        margin-left: 0
    }

    .pl0-ns {
        padding-left: 0
    }

    .pl450-ns {
        padding-left: 1.3333333333rem
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    .px200-m {
        padding-left:.2222222222rem;
        padding-right: .2222222222rem
    }

    .px350-m {
        padding-left: .6666666667rem;
        padding-right: .6666666667rem
    }

    .px450-m {
        padding-left: 1.3333333333rem;
        padding-right: 1.3333333333rem
    }

    .mt0-m {
        margin-top: 0
    }

    .mt200-m {
        margin-top: .2222222222rem
    }

    .mt300-m {
        margin-top: .4444444444rem
    }

    .mt500-m {
        margin-top: 1.7777777778rem
    }

    .mt600-m {
        margin-top: 2.2222222222rem
    }

    .pt400-m {
        padding-top: .8888888889rem
    }

    .pb500-m {
        padding-bottom: 1.7777777778rem
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .px200-xm {
        padding-left:.2222222222rem;
        padding-right: .2222222222rem
    }

    .px350-xm {
        padding-left: .6666666667rem;
        padding-right: .6666666667rem
    }

    .px450-xm {
        padding-left: 1.3333333333rem;
        padding-right: 1.3333333333rem
    }

    .mt0-xm {
        margin-top: 0
    }

    .mt200-xm {
        margin-top: .2222222222rem
    }

    .mt300-xm {
        margin-top: .4444444444rem
    }

    .mt500-xm {
        margin-top: 1.7777777778rem
    }

    .mt600-xm {
        margin-top: 2.2222222222rem
    }

    .pt400-xm {
        padding-top: .8888888889rem
    }

    .pb500-xm {
        padding-bottom: 1.7777777778rem
    }
}

@media screen and (min-width: 1025px) {
    .pa0-l {
        padding:0
    }

    .pa400-l {
        padding: .8888888889rem
    }

    .pa625-l {
        padding: 2.6666666667rem
    }

    .pa700-l {
        padding: 4.4444444444rem
    }

    .mx0-l {
        margin-left: 0;
        margin-right: 0
    }

    .px0-l {
        padding-left: 0;
        padding-right: 0
    }

    .px350-l {
        padding-left: .6666666667rem;
        padding-right: .6666666667rem
    }

    .px400-l {
        padding-left: .8888888889rem;
        padding-right: .8888888889rem
    }

    .px500-l {
        padding-left: 1.7777777778rem;
        padding-right: 1.7777777778rem
    }

    .px625-l {
        padding-left: 2.6666666667rem;
        padding-right: 2.6666666667rem
    }

    .py0-l {
        padding-bottom: 0;
        padding-top: 0
    }

    .py400-l {
        padding-bottom: .8888888889rem;
        padding-top: .8888888889rem
    }

    .mt-auto-l {
        margin-top: auto
    }

    .mt0-l {
        margin-top: 0
    }

    .mt100-l {
        margin-top: .1111111111rem
    }

    .mt300-l {
        margin-top: .4444444444rem
    }

    .mt400-l {
        margin-top: .8888888889rem
    }

    .mt450-l {
        margin-top: 1.3333333333rem
    }

    .mt700-l {
        margin-top: 4.4444444444rem
    }

    .pt200-l {
        padding-top: .2222222222rem
    }

    .pt300-l {
        padding-top: .4444444444rem
    }

    .pt400-l {
        padding-top: .8888888889rem
    }

    .pt450-l {
        padding-top: 1.3333333333rem
    }

    .pt625-l {
        padding-top: 2.6666666667rem
    }

    .pt800-l {
        padding-top: 6.6666666667rem
    }

    .mr-auto-l {
        margin-right: auto
    }

    .mr400-l {
        margin-right: .8888888889rem
    }

    .pr400-l {
        padding-right: .8888888889rem
    }

    .pr450-l {
        padding-right: 1.3333333333rem
    }

    .mb0-l {
        margin-bottom: 0
    }

    .mb350-l {
        margin-bottom: .6666666667rem
    }

    .mb400-l {
        margin-bottom: .8888888889rem
    }

    .mb450-l {
        margin-bottom: 1.3333333333rem
    }

    .mb625-l {
        margin-bottom: 2.6666666667rem
    }

    .pb0-l {
        padding-bottom: 0
    }

    .pb450-l {
        padding-bottom: 1.3333333333rem
    }

    .ml-auto-l {
        margin-left: auto
    }

    .ml0-l {
        margin-left: 0
    }

    .ml655-l {
        margin-left: 3.3333333333rem
    }

    .pl0-l {
        padding-left: 0
    }

    .pl300-l {
        padding-left: .4444444444rem
    }

    .pl350-l {
        padding-left: .6666666667rem
    }

    .pl450-l {
        padding-left: 1.3333333333rem
    }

    .px-8p-offset-l {
        padding-right: calc(.66667rem + 8.33333%)
    }

    .px-8p-offset-l {
        padding-left: calc(.66667rem + 8.33333%)
    }

    .pr-16p-offset-l {
        padding-right: calc(.66667rem + 16.66667%)
    }
}

.mt-800 {
    margin-top: -6.6666666667rem
}

@media screen and (min-width: 480px) {
    .mt-900-ns {
        margin-top:-11.1111111111rem
    }
}

@media screen and (min-width: 1025px) {
    .ml-400-l {
        margin-left:-.8888888889rem
    }
}

.square350 {
    height: .6666666667rem;
    width: .6666666667rem
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

@media screen and (min-width: 1025px) {
    .tl-l {
        text-align:left
    }
}

.underline {
    text-decoration: underline
}

.no-underline {
    text-decoration: none
}

.hover-underline:hover {
    text-decoration: underline
}

.hover-no-underline:hover {
    text-decoration: none
}

@media screen and (min-width: 1025px) {
    .no-underline-l {
        text-decoration:none
    }

    .hover-underline-l:hover {
        text-decoration: underline
    }
}

.f200 {
    font-size: .7222222222rem;
    line-height: 1.641025641
}

.f300 {
    font-size: .8888888889rem;
    line-height: 1.5
}

.f400 {
    font-size: 1rem;
    line-height: 1.4814814815
}

.f500 {
    font-size: 1.1666666667rem;
    line-height: 1.3968253968
}

.f600 {
    font-size: 1.3333333333rem;
    line-height: 1.3333333333
}

.f700 {
    font-size: 1.7777777778rem;
    line-height: 1.25
}

.f800 {
    font-size: 2.3888888889rem;
    line-height: 1.1782945736
}

.f900 {
    font-size: 3.1666666667rem;
    line-height: 1.1228070175
}

.f1100 {
    font-size: 5.6111111111rem;
    line-height: 1.00330033
}

html.legacy-type-scale .f200,html:not(.legacy-type-scale) .f200 {
    font-size: .7222222222rem;
    line-height: 1.641025641
}

html.legacy-type-scale .f300,html:not(.legacy-type-scale) .f300 {
    font-size: .8888888889rem;
    line-height: 1.5
}

html.legacy-type-scale .f400,html:not(.legacy-type-scale) .f400 {
    font-size: 1rem;
    line-height: 1.4814814815
}

html.legacy-type-scale .f500,html:not(.legacy-type-scale) .f500 {
    font-size: 1.1666666667rem;
    line-height: 1.3968253968
}

html:not(.legacy-type-scale) .f600 {
    font-size: 1.3333333333rem;
    line-height: 1.3333333333
}

html.legacy-type-scale .f600 {
    font-size: 1.1666666667rem;
    line-height: 1.3968253968
}

@media screen and (min-width: 480px) {
    html.legacy-type-scale .f600 {
        font-size:1.3333333333rem;
        line-height: 1.3333333333
    }
}

html:not(.legacy-type-scale) .f700 {
    font-size: 1.7777777778rem;
    line-height: 1.25
}

html.legacy-type-scale .f700 {
    font-size: 1.3333333333rem;
    line-height: 1.3333333333
}

@media screen and (min-width: 480px) {
    html.legacy-type-scale .f700 {
        font-size:1.7777777778rem;
        line-height: 1.25
    }
}

html:not(.legacy-type-scale) .f800 {
    font-size: 2.3888888889rem;
    line-height: 1.1782945736
}

html.legacy-type-scale .f800 {
    font-size: 1.7777777778rem;
    line-height: 1.25
}

@media screen and (min-width: 480px) {
    html.legacy-type-scale .f800 {
        font-size:2.3888888889rem;
        line-height: 1.1782945736
    }
}

html:not(.legacy-type-scale) .f900 {
    font-size: 3.1666666667rem;
    line-height: 1.1228070175
}

html.legacy-type-scale .f900 {
    font-size: 2.3888888889rem;
    line-height: 1.1782945736
}

@media screen and (min-width: 480px) {
    html.legacy-type-scale .f900 {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }
}

html:not(.legacy-type-scale) .f1100 {
    font-size: 5.6111111111rem;
    line-height: .9702970297
}

html.legacy-type-scale .f1100 {
    font-size: 3.1666666667rem;
    line-height: 1.1228070175
}

@media screen and (min-width: 480px) and (max-width:768px) {
    html.legacy-type-scale .f1100 {
        font-size:4.2222222222rem;
        line-height: 1.0526315789
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    html.legacy-type-scale .f1100 {
        font-size:4.2222222222rem;
        line-height: 1.0526315789
    }
}

@media screen and (min-width: 1025px) {
    html.legacy-type-scale .f1100 {
        font-size:5.6111111111rem;
        line-height: 1.00330033
    }
}

@media screen and (min-width: 480px) {
    html.legacy-type-scale .f400-ns,html:not(.legacy-type-scale) .f400-ns {
        font-size:1rem;
        line-height: 1.4814814815
    }

    html.legacy-type-scale .f500-ns,html:not(.legacy-type-scale) .f500-ns {
        font-size: 1.1666666667rem;
        line-height: 1.3968253968
    }

    html:not(.legacy-type-scale) .f600-ns {
        font-size: 1.3333333333rem;
        line-height: 1.3333333333
    }

    html.legacy-type-scale .f600-ns {
        font-size: 1.1666666667rem;
        line-height: 1.3968253968
    }
}

@media screen and (min-width: 480px) and (min-width:480px) {
    html.legacy-type-scale .f600-ns {
        font-size:1.3333333333rem;
        line-height: 1.3333333333
    }
}

@media screen and (min-width: 480px) {
    html:not(.legacy-type-scale) .f700-ns {
        font-size:1.7777777778rem;
        line-height: 1.25
    }

    html.legacy-type-scale .f700-ns {
        font-size: 1.3333333333rem;
        line-height: 1.3333333333
    }
}

@media screen and (min-width: 480px) and (min-width:480px) {
    html.legacy-type-scale .f700-ns {
        font-size:1.7777777778rem;
        line-height: 1.25
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    html.legacy-type-scale .f500-m,html:not(.legacy-type-scale) .f500-m {
        font-size:1.1666666667rem;
        line-height: 1.3968253968
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    html:not(.legacy-type-scale) .f700-m {
        font-size:1.7777777778rem;
        line-height: 1.25
    }

    html.legacy-type-scale .f700-m {
        font-size: 1.3333333333rem;
        line-height: 1.3333333333
    }
}

@media screen and (min-width: 480px) and (max-width:768px) and (min-width:480px) {
    html.legacy-type-scale .f700-m {
        font-size:1.7777777778rem;
        line-height: 1.25
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    html:not(.legacy-type-scale) .f900-m {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }

    html.legacy-type-scale .f900-m {
        font-size: 2.3888888889rem;
        line-height: 1.1782945736
    }
}

@media screen and (min-width: 480px) and (max-width:768px) and (min-width:480px) {
    html.legacy-type-scale .f900-m {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    html.legacy-type-scale .f500-xm,html:not(.legacy-type-scale) .f500-xm {
        font-size:1.1666666667rem;
        line-height: 1.3968253968
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    html:not(.legacy-type-scale) .f700-xm {
        font-size:1.7777777778rem;
        line-height: 1.25
    }

    html.legacy-type-scale .f700-xm {
        font-size: 1.3333333333rem;
        line-height: 1.3333333333
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) and (min-width:480px) {
    html.legacy-type-scale .f700-xm {
        font-size:1.7777777778rem;
        line-height: 1.25
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    html:not(.legacy-type-scale) .f900-xm {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }

    html.legacy-type-scale .f900-xm {
        font-size: 2.3888888889rem;
        line-height: 1.1782945736
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) and (min-width:480px) {
    html.legacy-type-scale .f900-xm {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }
}

@media screen and (min-width: 1025px) {
    html.legacy-type-scale .f200-l,html:not(.legacy-type-scale) .f200-l {
        font-size:.7222222222rem;
        line-height: 1.641025641
    }

    html.legacy-type-scale .f400-l,html:not(.legacy-type-scale) .f400-l {
        font-size: 1rem;
        line-height: 1.4814814815
    }

    html.legacy-type-scale .f500-l,html:not(.legacy-type-scale) .f500-l {
        font-size: 1.1666666667rem;
        line-height: 1.3968253968
    }

    html:not(.legacy-type-scale) .f600-l {
        font-size: 1.3333333333rem;
        line-height: 1.3333333333
    }

    html.legacy-type-scale .f600-l {
        font-size: 1.1666666667rem;
        line-height: 1.3968253968
    }
}

@media screen and (min-width: 1025px) and (min-width:480px) {
    html.legacy-type-scale .f600-l {
        font-size:1.3333333333rem;
        line-height: 1.3333333333
    }
}

@media screen and (min-width: 1025px) {
    html:not(.legacy-type-scale) .f700-l {
        font-size:1.7777777778rem;
        line-height: 1.25
    }

    html.legacy-type-scale .f700-l {
        font-size: 1.3333333333rem;
        line-height: 1.3333333333
    }
}

@media screen and (min-width: 1025px) and (min-width:480px) {
    html.legacy-type-scale .f700-l {
        font-size:1.7777777778rem;
        line-height: 1.25
    }
}

@media screen and (min-width: 1025px) {
    html:not(.legacy-type-scale) .f800-l {
        font-size:2.3888888889rem;
        line-height: 1.1782945736
    }

    html.legacy-type-scale .f800-l {
        font-size: 1.7777777778rem;
        line-height: 1.25
    }
}

@media screen and (min-width: 1025px) and (min-width:480px) {
    html.legacy-type-scale .f800-l {
        font-size:2.3888888889rem;
        line-height: 1.1782945736
    }
}

@media screen and (min-width: 1025px) {
    html:not(.legacy-type-scale) .f900-l {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }

    html.legacy-type-scale .f900-l {
        font-size: 2.3888888889rem;
        line-height: 1.1782945736
    }
}

@media screen and (min-width: 1025px) and (min-width:480px) {
    html.legacy-type-scale .f900-l {
        font-size:3.1666666667rem;
        line-height: 1.1228070175
    }
}

.lh800 {
    line-height: 1.1782945736
}

.v-mid {
    vertical-align: middle
}

.scroll-touch {
    -webkit-overflow-scrolling: touch
}

.mw400 {
    max-width: 12.5925925926rem
}

.mw450 {
    max-width: 18.8888888889rem
}

.mw800 {
    max-width: 62.962962963rem
}

.mw900 {
    max-width: 75.5555555556rem
}

.mw-25p {
    max-width: 25%
}

.w-75p {
    width: 75%
}

.mw-90p {
    max-width: 90%
}

.w-100p {
    width: 100%
}

.mw-100p {
    max-width: 100%
}

@media screen and (min-width: 480px) {
    .w-auto-ns {
        width:auto
    }

    .mw425-ns {
        max-width: 15.7407407407rem
    }

    .mw650-ns {
        max-width: 44.0740740741rem
    }

    .mw-33p-ns {
        max-width: 33.3333333333%
    }

    .mw-50p-ns {
        max-width: 50%
    }

    .mw-66p-ns {
        max-width: 66.6666666667%
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    .mw-50p-m {
        max-width:50%
    }

    .mw-66p-m {
        max-width: 66.6666666667%
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    .mw-50p-xm {
        max-width:50%
    }

    .mw-66p-xm {
        max-width: 66.6666666667%
    }
}

@media screen and (min-width: 1025px) {
    .w-auto-l {
        width:auto
    }

    .w425-l {
        width: 15.7407407407rem
    }

    .mw900-l {
        max-width: 75.5555555556rem
    }

    .mw-25p-l {
        max-width: 25%
    }

    .mw-41p-l {
        max-width: 41.6666666667%
    }

    .mw-50p-l {
        max-width: 50%
    }

    .mw-58p-l {
        max-width: 58.3333333333%
    }

    .mw-none-l {
        max-width: none
    }
}

.z2 {
    z-index: 2
}

.z5 {
    z-index: 5
}

.z10 {
    z-index: 10
}

.z23 {
    z-index: 23
}

.z24 {
    z-index: 24
}

@font-face {
    font-display: swap;
    font-family: "Roboto Serif";
    font-style: normal;
    font-weight: 400;
    src: url("https://media.sproutsocial.com/font/roboto-serif/roboto-serif-v13-latin-regular.woff2") format("woff2"),url("https://media.sproutsocial.com/font/roboto-serif/roboto-serif-v13-latin-regular.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "Roboto Serif";
    font-style: italic;
    font-weight: 400;
    src: url("https://media.sproutsocial.com/font/roboto-serif/roboto-serif-v13-latin-italic.woff2") format("woff2"),url("https://media.sproutsocial.com/font/roboto-serif/roboto-serif-v13-latin-italic.woff") format("woff")
}

@font-face {
    font-family: "proxima-nova";
    src: url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Regular.eot");
    src: local("Proxima Nova Regular"),local("ProximaNova-Regular"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Regular.woff2") format("woff2"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Regular.woff") format("woff"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "proxima-nova";
    src: url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Bold.eot");
    src: local("Proxima Nova Bold"),local("ProximaNova-Bold"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Bold.woff2") format("woff2"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Bold.woff") format("woff"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "proxima-nova";
    src: url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Extrabld.eot");
    src: local("Proxima Nova Extrabold"),local("ProximaNova-Extrabld"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Extrabld.woff2") format("woff2"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Extrabld.woff") format("woff"),url("https://media.sproutsocial.com/font/proxima/2021/ProximaNova-Extrabld.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}
